openapi: 3.2.0
info:
  title: Canix Customers API
  x-logo:
    url: https://assets.website-files.com/5ee52a0f4be6ffc2aaeb52cd/5ee52a0f4be6ff20e7eb534f_canix-logo.svg
    backgroundColor: '#FFFFFF'
    altText: Canix logo
  description: '# Introduction

    This API documentation describes the endpoints used by third-party developers to get Canix data for their account.

    # Authentication

    Canix API uses API Keys for authentication. You can generate an API key on our [API page](https://app.canix.com/company/api), and on your API requests use the `X-API-KEY` header with the API key value you generated.

    We strongly recommend using a secrets manager. Plain text files like dotenv lead to accidental costly leaks. Use [Doppler](https://doppler.com/) or similar options for a developer friendly experience. AWS and Google Cloud have native solutions as well.'
  contact:
    name: Canix Support
    url: https://help.canix.com/
    email: help@canix.com
  version: 1.3.10
servers:
- url: https://api.canix.com/api/v1
  variables: {}
security:
- ApiKeyAuth: []
tags:
- name: Customers
paths:
  /customers:
    get:
      tags:
      - Customers
      summary: GetCustomers
      description: Return active Customers
      operationId: GetCustomers
      parameters:
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/orderByParam'
      - $ref: '#/components/parameters/whereParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerExtended'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401NotAuthenticated'
        '403':
          $ref: '#/components/responses/403AccessDenied'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500ServerError'
  /customers/{customer_id}:
    get:
      tags:
      - Customers
      summary: GetCustomer
      description: Get Customer by ID
      operationId: GetCustomerById
      parameters:
      - name: customer_id
        in: path
        description: Customer ID
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401NotAuthenticated'
        '403':
          $ref: '#/components/responses/403AccessDenied'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500ServerError'
  /customers/{customer_id}/credits:
    post:
      tags:
      - Customers
      summary: AdjustCustomerCredit
      description: Adjust the customer's credit balance. A negative amount reduces the balance. The balance can be applied to sales orders after taxes via the `credits` and `pull_credit_from_customer` fields on sales order create/update.
      operationId: AdjustCustomerCredit
      parameters:
      - name: customer_id
        in: path
        description: Customer ID
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              properties:
                amount:
                  type: number
                  description: Amount to add to the customer's credit balance (negative to reduce)
                  example: 1000.0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer_id:
                    type: integer
                  credit:
                    type: number
                    description: The customer's new credit balance
              example:
                customer_id: 345
                credit: 1000.0
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401NotAuthenticated'
        '403':
          $ref: '#/components/responses/403AccessDenied'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500ServerError'
components:
  responses:
    400BadRequest:
      description: Bad request
    401NotAuthenticated:
      description: Not authenticated
    403AccessDenied:
      description: Access denied
    404NotFound:
      description: The specified resource was not found
    500ServerError:
      description: Server error
  parameters:
    offsetParam:
      name: offset
      in: query
      description: Offset for the returned records (optional)
      schema:
        type: integer
        default: 0
        example: 20
    limitParam:
      name: limit
      in: query
      description: Max number of records to return (optional). Cannot exceed 2000
      required: false
      style: form
      schema:
        type: integer
        default: 2000
        example: 100
    orderByParam:
      name: order_by
      in: query
      description: Order-by clause, in SQL format (optional)
      schema:
        type: string
        example: id desc
    whereParam:
      name: where
      in: query
      description: 'Filter results using SQL-like WHERE clause syntax (optional).


        **Supported operators**: =, >, <, >=, <=, BETWEEN, IN, LIKE, AND, OR


        **Supported patterns**:

        - Equality: `status=''Active''`

        - Comparison: `updated_at >= ''2024-01-01''`

        - Range: `id BETWEEN 1 AND 10000`

        - List: `status IN (''Active'', ''Pending'')`

        - Pattern: `sku LIKE ''ABC%''`

        - Compound: `facility_id=123 AND is_active=true`

        '
      schema:
        type: string
        example: status='Active' AND updated_at >= '2024-01-01'
  schemas:
    Address:
      title: Address
      type: object
      properties:
        street:
          type: string
          example: 123 Cumberland St
        street2:
          type: string
          example: West
        city:
          type: string
          example: Somerset
        county:
          type: string
          example: KY
        state:
          type: string
          example: CO
        country:
          type: string
          example: USA
        postal_code:
          type: string
          example: 42504
    CustomerExtended:
      title: Customer Extended
      allOf:
      - $ref: '#/components/schemas/Customer'
      - type: object
        properties:
          outstanding_balance:
            type: number
    Customer:
      title: Customer
      type: object
      properties:
        id:
          type: integer
        contact_name:
          type: string
        company_name:
          type: string
        facility_license_number:
          type: string
        license_type:
          type: string
        customer_number:
          type: string
        license_expiration_date:
          type: string
        phone:
          type: string
        email:
          type: string
        territory:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        notes:
          type: string
        outstanding_balance:
          type: number
        credit:
          type: number
          description: Current credit balance available to this customer
        dba:
          type: string
          example: Doing Business As
        is_active:
          type: boolean
        created_at:
          type: string
          example: 2018-11-06 08:00:00+00:00
        updated_at:
          type: string
          example: 2018-11-06 08:00:00+00:00
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
