openapi: 3.2.0
info:
  title: Canix Vendors API
  x-logo:
    url: https://assets.website-files.com/5ee52a0f4be6ffc2aaeb52cd/5ee52a0f4be6ff20e7eb534f_canix-logo.svg
    backgroundColor: '#FFFFFF'
    altText: Canix logo
  description: '# Introduction

    This API documentation describes the endpoints used by third-party developers to get Canix data for their account.

    # Authentication

    Canix API uses API Keys for authentication. You can generate an API key on our [API page](https://app.canix.com/company/api), and on your API requests use the `X-API-KEY` header with the API key value you generated.

    We strongly recommend using a secrets manager. Plain text files like dotenv lead to accidental costly leaks. Use [Doppler](https://doppler.com/) or similar options for a developer friendly experience. AWS and Google Cloud have native solutions as well.'
  contact:
    name: Canix Support
    url: https://help.canix.com/
    email: help@canix.com
  version: 1.3.10
servers:
- url: https://api.canix.com/api/v1
  variables: {}
security:
- ApiKeyAuth: []
tags:
- name: Vendors
paths:
  /vendors:
    get:
      tags:
      - Vendors
      summary: GetVendors
      description: Return active Vendors for your company
      operationId: GetVendors
      parameters:
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/orderByParam'
      - $ref: '#/components/parameters/whereParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vendor'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401NotAuthenticated'
        '403':
          $ref: '#/components/responses/403AccessDenied'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500ServerError'
    post:
      tags:
      - Vendors
      summary: CreateVendor
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: CreateVendor
      requestBody:
        required: true
        description: Create a new Vendor
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401NotAuthenticated'
        '403':
          $ref: '#/components/responses/403AccessDenied'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500ServerError'
  /vendors/{vendor_id}:
    get:
      tags:
      - Vendors
      summary: GetVendor
      description: Get Vendor by ID
      operationId: GetVendorById
      parameters:
      - name: vendor_id
        in: path
        description: Vendor ID
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401NotAuthenticated'
        '403':
          $ref: '#/components/responses/403AccessDenied'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500ServerError'
    put:
      tags:
      - Vendors
      summary: UpdateVendor
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: UpdateVendor
      parameters:
      - name: vendor_id
        in: path
        description: ID of Vendor to update
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        description: Update an existing Vendor
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401NotAuthenticated'
        '403':
          $ref: '#/components/responses/403AccessDenied'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500ServerError'
    delete:
      tags:
      - Vendors
      summary: DeleteVendor
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: DeleteVendor
      parameters:
      - name: vendor_id
        in: path
        description: ID of Vendor to delete
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401NotAuthenticated'
        '403':
          $ref: '#/components/responses/403AccessDenied'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500ServerError'
components:
  responses:
    400BadRequest:
      description: Bad request
    401NotAuthenticated:
      description: Not authenticated
    403AccessDenied:
      description: Access denied
    404NotFound:
      description: The specified resource was not found
    500ServerError:
      description: Server error
  parameters:
    offsetParam:
      name: offset
      in: query
      description: Offset for the returned records (optional)
      schema:
        type: integer
        default: 0
        example: 20
    limitParam:
      name: limit
      in: query
      description: Max number of records to return (optional). Cannot exceed 2000
      required: false
      style: form
      schema:
        type: integer
        default: 2000
        example: 100
    orderByParam:
      name: order_by
      in: query
      description: Order-by clause, in SQL format (optional)
      schema:
        type: string
        example: id desc
    whereParam:
      name: where
      in: query
      description: 'Filter results using SQL-like WHERE clause syntax (optional).


        **Supported operators**: =, >, <, >=, <=, BETWEEN, IN, LIKE, AND, OR


        **Supported patterns**:

        - Equality: `status=''Active''`

        - Comparison: `updated_at >= ''2024-01-01''`

        - Range: `id BETWEEN 1 AND 10000`

        - List: `status IN (''Active'', ''Pending'')`

        - Pattern: `sku LIKE ''ABC%''`

        - Compound: `facility_id=123 AND is_active=true`

        '
      schema:
        type: string
        example: status='Active' AND updated_at >= '2024-01-01'
  schemas:
    Vendor:
      title: Vendor
      required:
      - id
      - name
      properties:
        id:
          type: integer
          example: 123
        name:
          type: string
          example: Canna Cones
        is_active:
          type: boolean
        contact_name:
          type: string
          example: John Smith
        email:
          type: string
          example: john@cannacones.com
        phone:
          type: string
          example: 16501109234
        license_number:
          type: string
          example: X-000012
        license_expiration_date:
          type: string
          example: 2022-03-16 07:00:00+00:00
        address:
          type: string
          example: 63 Bluxome St.
        address2:
          type: string
          example: Suite A
        city:
          type: string
          example: San Francisco
        postal_code:
          type: string
          example: 94107
        state:
          type: string
          example: CA
        country:
          type: string
          example: US
        website_url:
          type: string
          example: cannacones.com
        notes:
          type: string
          example: Best vendor
        min_lead_time:
          type: object
          example:
            value: 2
            unit: week
        updated_at:
          type: string
          example: 2018-11-06 08:00:00+00:00
    VendorRequestBody:
      title: Create Vendor Request Body
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: The name of the vendor
        contact_name:
          type: string
          description: The name of the contact person
        email:
          type: string
          format: email
          description: The vendor's email address
        phone:
          type: string
          description: The vendor's phone number
        license_number:
          type: string
          description: The vendor's license number
        license_expiration_date:
          type: string
          format: date
          description: The expiration date of the vendor's license
        address:
          type: string
          description: The vendor's street address
        address2:
          type: string
          description: Additional address information
        city:
          type: string
          description: The vendor's city
        postal_code:
          type: string
          description: The vendor's postal/zip code
        state:
          type: string
          description: The vendor's state/province
        country:
          type: string
          description: The vendor's country
        website_url:
          type: string
          format: uri
          description: The vendor's website URL
        notes:
          type: string
          description: Additional notes about the vendor
        min_lead_time:
          type: object
          properties:
            value:
              type: integer
              description: The numeric value of the minimum lead time
            unit:
              type: string
              description: The unit of time measurement (e.g. DAY, WEEK, MONTH)
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
