openapi: 3.0.3
info:
  title: Canix API
  x-logo:
    url: https://assets.website-files.com/5ee52a0f4be6ffc2aaeb52cd/5ee52a0f4be6ff20e7eb534f_canix-logo.svg
    backgroundColor: "#FFFFFF"
    altText: Canix logo
  description: >-
    # Introduction

    This API documentation describes the endpoints used by third-party developers to get Canix data for their account.

    # Authentication

    Canix API uses API Keys for authentication. You can generate an API key on our [API page](https://app.canix.com/company/api), and on your API requests use the `X-API-KEY` header with the API key value you generated.

    We strongly recommend using a secrets manager. Plain text files like dotenv lead to accidental costly leaks. Use
    [Doppler](https://doppler.com/) or similar options for a developer friendly experience. AWS and Google Cloud have native solutions as
    well.
  contact:
    name: Canix Support
    url: https://help.canix.com/
    email: help@canix.com
  version: "1.3.10"
servers:
  - url: https://api.canix.com/api/v1
    variables: {}

paths:
  /audited_actions:
    get:
      tags:
        - Audited Actions
      summary: GetAuditedActions
      description: Returns Package Adjustments, Package Splits, Package Combines, Location Changes for Plant Batches, Plants and Packages, Immatures Destroyed in Plant Batches, Submitted by Email, Submitted by Name, Approved by Email and Approved by Name

      operationId: GetAuditedActions
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AuditedAction"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /sales_orders:
    get:
      tags:
        - Sales Orders
      summary: GetSalesOrders
      description: Return Sales Orders

      operationId: GetSalesOrders
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SalesOrder"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

    post:
      tags:
        - Sales Orders
      summary: CreateSalesOrder
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: CreateSalesOrder
      requestBody:
        required: true
        description: Create a new Sales Order
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SalesOrderRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesOrder"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /sales_orders/{sales_order_id}:
    get:
      tags:
        - Sales Orders
      summary: GetSalesOrder
      description: Get Sales Order by ID
      operationId: GetSalesOrderById
      parameters:
        - name: sales_order_id
          in: path
          description: ID of Sales Order to return
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesOrder"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

    put:
      tags:
        - Sales Orders
      summary: UpdateSalesOrder
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: UpdateSalesOrder
      parameters:
        - name: sales_order_id
          in: path
          description: ID of Sales Order to update
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Update an existing Sales Order
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SalesOrderRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesOrder"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /sales_orders/{sales_order_id}/contents:
    get:
      tags:
        - Sales Orders
      summary: GetSalesOrderContents
      description: Get Sales Order Contents by Sales Order ID
      operationId: GetSalesOrderContentsById
      parameters:
        - name: sales_order_id
          in: path
          description: Sales Order ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: "#/components/schemas/SalesOrderItem"
                    - type: object
                      properties:
                        weight_unit_id:
                          type: integer
                        weight_unit_name:
                          type: string
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /sales_orders/{sales_order_id}/payments:
    get:
      tags:
        - Sales Orders
      summary: GetSalesOrderPayments
      description: Get Sales Order Payments by Sales Order ID
      operationId: GetSalesOrderPayments
      parameters:
        - name: sales_order_id
          in: path
          description: Sales Order ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SalesOrderPayment"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /sales_orders/{sales_order_id}/status/{status_name}:
    put:
      tags:
        - Sales Orders
      summary: UpdateSalesOrderStatus
      description: |
        Update the status of a Sales Order.
        Valid status values: created, approved, filled, shipped, accepted, archived, requested, canceled
        To cancel a sales order, use status_name = "canceled"
        Note: Cannot cancel orders that are shipped, accepted, returned, or archived.
        __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: UpdateSalesOrderStatus
      parameters:
        - name: sales_order_id
          in: path
          description: ID of Sales Order to update status
          required: true
          schema:
            type: integer
        - name: status_name
          in: path
          description: New status for the Sales Order (created, approved, filled, shipped, accepted, archived, requested, canceled)
          required: true
          schema:
            type: string
            enum:
              - created
              - approved
              - filled
              - shipped
              - accepted
              - archived
              - requested
              - canceled
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  previous_status:
                    type: string
                    description: The previous status of the sales order
                  new_status:
                    type: string
                    description: The new status of the sales order
                required:
                  - previous_status
                  - new_status
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /customers:
    get:
      tags:
        - Customers
      summary: GetCustomers
      description: Return active Customers
      operationId: GetCustomers
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustomerExtended"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /customers/{customer_id}:
    get:
      tags:
        - Customers
      summary: GetCustomer
      description: Get Customer by ID
      operationId: GetCustomerById
      parameters:
        - name: customer_id
          in: path
          description: Customer ID
          required: true
          schema:
            type: integer

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /customers/{customer_id}/credits:
    post:
      tags:
        - Customers
      summary: AdjustCustomerCredit
      description: >-
        Adjust the customer's credit balance. A negative amount reduces the balance.
        The balance can be applied to sales orders after taxes via the `credits` and
        `pull_credit_from_customer` fields on sales order create/update.
      operationId: AdjustCustomerCredit
      parameters:
        - name: customer_id
          in: path
          description: Customer ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: number
                  description: Amount to add to the customer's credit balance (negative to reduce)
                  example: 1000.0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer_id:
                    type: integer
                  credit:
                    type: number
                    description: The customer's new credit balance
              example:
                customer_id: 345
                credit: 1000.0
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /facilities:
    get:
      tags:
        - Facilities
      summary: GetFacilities
      description: Return Facilities

      operationId: GetFacilities
      parameters:
        - name: facility_id
          in: query
          description: Facility ID (optional)
          example: 123
          required: false
          schema:
            type: integer
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Facility"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /facilities/{facility_id}:
    get:
      tags:
        - Facilities
      summary: GetFacility
      description: Get Facility by ID
      operationId: GetFacilityById
      parameters:
        - name: facility_id
          in: path
          description: Facility ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Facility"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /items:
    get:
      tags:
        - Items
      summary: GetItems
      description: Return items

      operationId: GetItems
      parameters:
        - name: facility_id
          in: query
          description: Facility ID (optional)
          example: 123
          required: false
          schema:
            type: integer
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

    post:
      tags:
        - Items
      summary: CreateItem
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: CreateItem
      requestBody:
        required: true
        description: Create a new Item
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateItemRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /items/{item_id}:
    get:
      tags:
        - Items
      summary: GetItem
      description: Get Item by ID
      operationId: GetItemById
      parameters:
        - name: item_id
          in: path
          description: Item ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

    put:
      tags:
        - Items
      summary: UpdateItem
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: UpdateItem
      parameters:
        - name: item_id
          in: path
          description: ID of Item to update
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Update an existing Item
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateItemRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Item"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

    delete:
      tags:
        - Items
      summary: Delete Item
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: DeleteItem
      parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /items/{item_id}/standard_cost:
    post:
      tags:
        - Items
      summary: AddItemStandardCost
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: AddItemStandardCost
      parameters:
        - name: item_id
          in: path
          description: ID of Item to add standard cost
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Add standard cost to an Item
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ItemStandardCostRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemStandardCost"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /items/photos:
    post:
      tags:
        - Items
      summary: Create METRC Item Photos
      description: Create METRC Item Photos
      operationId: CreateMETRCItemPhotos
      requestBody:
        required: true
        description: Create METRC Item Photos
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMETRCItemPhotosRequestBody"
      responses:
        "201":
          description: CREATED
          content:
            application/json:
              schema:
                properties:
                  photo_ids:
                    type: array
                    description: IDs of the photos that were created
                    items:
                      type: integer
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "500":
          $ref: "#/components/responses/500ServerError"

  /items/files:
    post:
      tags:
        - Items
      summary: Create METRC Item Files
      description: Create METRC Item Files
      operationId: CreateMETRCItemFiles
      requestBody:
        required: true
        description: Create METRC Item Files
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMETRCItemFilesRequestBody"
      responses:
        "201":
          description: CREATED
          content:
            application/json:
              schema:
                properties:
                  file_ids:
                    type: array
                    description: IDs of the files that were created
                    items:
                      type: integer
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "500":
          $ref: "#/components/responses/500ServerError"

  /item_types:
    get:
      tags:
        - Item Types
      summary: GetItemTypes
      description: Return item types

      operationId: GetItemTypes
      parameters:
        - name: facility_id
          in: query
          description: Facility ID (optional)
          example: 123
          required: false
          schema:
            type: integer
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ItemType"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /item_sub_types:
    get:
      tags:
        - Item Sub-Types
      summary: GetItemTypes
      description: Return item sub-types

      operationId: GetItemSubTypes
      parameters:
        - name: facility_id
          in: query
          description: Facility ID (optional)
          example: 123
          required: false
          schema:
            type: integer
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ItemSubType"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /brands:
    get:
      tags:
        - Brands
      summary: GetBrands
      description: Return brands for the user's company
      operationId: GetBrands
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Brand"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /strains:
    get:
      tags:
        - Strains
      summary: GetStrains
      description: Return active Strains

      operationId: GetStrains
      parameters:
        - name: facility_id
          in: query
          description: Facility ID (optional)
          example: 123
          required: false
          schema:
            type: integer
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Strain"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

    post:
      tags:
        - Strains
      summary: CreateStrain
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: CreateStrain
      requestBody:
        required: true
        description: Create a new Strain
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateStrainRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Strain"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /strains/{strain_id}:
    get:
      tags:
        - Strains
      summary: GetStrain
      description: Get Strain by ID
      operationId: GetStrainById
      parameters:
        - name: strain_id
          in: path
          description: Strain ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Strain"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

    put:
      tags:
        - Strains
      summary: UpdateStrain
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: UpdateStrain
      parameters:
        - name: strain_id
          in: path
          description: ID of Strain to update
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Update an existing Strain
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StrainRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Strain"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /locations:
    get:
      tags:
        - Locations
      summary: GetLocations
      description: Return active Locations

      operationId: GetLocations
      parameters:
        - name: facility_id
          in: query
          description: Facility ID (optional)
          example: 123
          required: false
          schema:
            type: integer
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Location"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /locations/count:
    get:
      tags:
        - Locations
      summary: GetLocationsCount
      description: Return total number of active Locations

      operationId: GetLocationsCount
      parameters:
        - name: facility_id
          in: query
          description: Facility ID (optional)
          example: 123
          required: false
          schema:
            type: integer
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RecordCount"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /locations/{location_id}:
    get:
      tags:
        - Locations
      summary: GetLocation
      description: Get Location by ID
      operationId: GetLocationById
      parameters:
        - name: location_id
          in: path
          description: Location ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /purchase_orders:
    get:
      tags:
        - Purchase Orders
      summary: GetPurchaseOrders
      description: Return Purchase Orders

      operationId: GetPurchaseOrders
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PurchaseOrder"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

    post:
      tags:
        - Purchase Orders
      summary: PostPurchaseOrder
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: PostPurchaseOrder
      requestBody:
        required: true
        description: Create a new Purchase Order
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePurchaseOrderRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOrder"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /purchase_orders/{purchase_order_id}:
    get:
      tags:
        - Purchase Orders
      summary: GetPurchaseOrder
      description: Get Purchase Order by ID
      operationId: GetPurchaseOrderById
      parameters:
        - name: purchase_order_id
          in: path
          description: ID of Purchase Order to return
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOrder"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /purchase_orders/{purchase_order_id}/contents:
    get:
      tags:
        - Purchase Orders
      summary: GetPurchaseOrderContents
      description: Get Purchase Order Contents by Purchase Order ID
      operationId: GetPurchaseOrderContentsById
      parameters:
        - name: purchase_order_id
          in: path
          description: Purchase Order ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PurchaseOrderItem"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /purchase_orders/{purchase_order_id}/payments:
    get:
      tags:
        - Purchase Orders
      summary: GetPurchaseOrderPayments
      description: Get Purchase Order Payments by Purchase Order ID
      operationId: GetpurchaseOrderPayments
      parameters:
        - name: purchase_order_id
          in: path
          description: Purchase Order ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PurchaseOrderPayment"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /vendors:
    get:
      tags:
        - Vendors
      summary: GetVendors
      description: Return active Vendors for your company

      operationId: GetVendors
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Vendor"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

    post:
      tags:
        - Vendors
      summary: CreateVendor
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: CreateVendor
      requestBody:
        required: true
        description: Create a new Vendor
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VendorRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vendor"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /vendors/{vendor_id}:
    get:
      tags:
        - Vendors
      summary: GetVendor
      description: Get Vendor by ID
      operationId: GetVendorById
      parameters:
        - name: vendor_id
          in: path
          description: Vendor ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vendor"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

    put:
      tags:
        - Vendors
      summary: UpdateVendor
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: UpdateVendor
      parameters:
        - name: vendor_id
          in: path
          description: ID of Vendor to update
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Update an existing Vendor
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VendorRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vendor"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

    delete:
      tags:
        - Vendors
      summary: DeleteVendor
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: DeleteVendor
      parameters:
        - name: vendor_id
          in: path
          description: ID of Vendor to delete
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /packages:
    get:
      tags:
        - Packages
      summary: GetPackages
      description: Return all submitted Packages of all statuses
      operationId: GetPackages
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Package"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /packages/{package_id}:
    get:
      tags:
        - Packages
      summary: GetPackage
      description: Get Package by ID
      operationId: GetPackageById
      parameters:
        - name: package_id
          in: path
          description: Package ID
          required: true
          schema:
            type: integer

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Package"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /non_cannabis_products:
    get:
      tags:
        - Non-Cannabis Products
      summary: GetNonCannabisProducts
      description: Return all Non-Cannabis Products for the user's company
      operationId: GetNonCannabisProducts
      parameters:
        - name: facility_ids
          in: query
          description: Facility IDs (optional)
          example: [123]
          required: false
          schema:
            type: array
            items:
              type: integer
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NonCannabisProduct"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

    post:
      tags:
        - Non-Cannabis Products
      summary: PostNonCannabisProduct
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__ Each request creates the product in a single facility (facility_id). To share a product across additional facilities, contact support or use the app.
      operationId: PostNonCannabisProduct
      requestBody:
        required: true
        description: Create a new Non-Cannabis Product
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNonCannabisProductRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NonCannabisProduct"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "422":
          description: Metrc submission failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Metrc submission failed: ..."
        "500":
          $ref: "#/components/responses/500ServerError"

  /non_cannabis_products/{non_cannabis_product_id}:
    get:
      tags:
        - Non-Cannabis Products
      summary: GetNonCannabisProduct
      description: Get Non-Cannabis Product by ID
      operationId: GetNonCannabisProductById
      parameters:
        - name: non_cannabis_product_id
          in: path
          description: Non-Cannabis Product ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NonCannabisProduct"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /non_cannabis_products/{non_cannabis_product_id}/boms:
    get:
      tags:
        - Non-Cannabis Products
      summary: GetNonCannabisProductBOMs
      description: Get Bills of Materials associated with a Non-Cannabis Product
      operationId: GetNonCannabisProductBOMs
      parameters:
        - name: non_cannabis_product_id
          in: path
          description: Non-Cannabis Product ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BillOfMaterials"
              example:
                - id: 12
                  name: Bulk - Dark Chocolate Peaks - 10mg
                  active_date: "2023-01-01"
                  expiration_date: "2023-12-31"
                  proportion_type: single_instance
                  last_updated_at: "2023-01-15T10:30:00.000Z"
                  source_non_cannabis_products:
                    - name: 1/8th Jar
                      non_cannabis_product_id: 24
                      quantity: 1
                      weight_unit: Each
                      application_setting: proportional
                  source_cannabis_items:
                    - quantity: 100
                      weight_unit: Grams
                      item:
                        id: 242
                        name: Hammer Bud
                      item_category: null
                      item_sub_category: null
                  output_items:
                    - item_id: 370
                      name: Jarred Flower
                      quantity: 50
                      weight_unit: Grams
                      item_category: null
                      item_sub_category: null
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /plant_batches:
    get:
      tags:
        - Plant Batches
      summary: GetPlantBatches
      description: Return active Plant Batches

      operationId: GetPlantBatches
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlantBatch"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /plant_batches/{plant_batch_id}:
    get:
      tags:
        - Plant Batches
      summary: GetPlantBatch
      description: Get Plant Batch by ID
      operationId: GetPlantBatchById
      parameters:
        - name: plant_batch_id
          in: path
          description: Plant Batch ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlantBatch"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /plants:
    get:
      tags:
        - Plants
      summary: GetPlants
      description: Return active Plants

      operationId: GetPlants
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Plant"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /plants/count:
    get:
      tags:
        - Plants
      summary: GetPlantsCount
      description: Return total count of active Plants

      operationId: GetPlantsCount
      parameters:
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RecordCount"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /plants/{plant_id}:
    get:
      tags:
        - Plants
      summary: GetPlant
      description: Get Plant by ID
      operationId: GetPlantById
      parameters:
        - name: plant_id
          in: path
          description: Plant ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plant"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /payments:
    get:
      tags:
        - Sales Orders
      summary: GetPayments
      description: |
        Return sales order payments across all of the company's facilities, newest first.
        Filter by received date with the `where` parameter, e.g. `where=payment_date >= '2026-01-01'`.
      operationId: GetPayments
      parameters:
        - name: facility_id
          in: query
          description: Facility ID (optional)
          example: 123
          required: false
          schema:
            type: integer
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SalesOrderPayment"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /payments/{payment_id}:
    get:
      tags:
        - Sales Orders
      summary: GetPayment
      description: Get a sales order payment by ID
      operationId: GetPaymentById
      parameters:
        - name: payment_id
          in: path
          description: Payment ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesOrderPayment"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /products:
    get:
      tags:
        - Products
      summary: GetProducts
      description: Return products

      operationId: GetProducts
      parameters:
        - name: facility_id
          in: query
          description: Facility ID (optional)
          example: 123
          required: false
          schema:
            type: integer
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Product"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /products/{product_id}:
    get:
      tags:
        - Products
      summary: GetProduct
      description: Get Product by ID
      operationId: GetProductById
      parameters:
        - name: product_id
          in: path
          description: Product ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /harvests:
    get:
      tags:
        - Harvests
      summary: GetHarvests
      description: Return active Harvests

      operationId: GetHarvests
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Harvest"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /harvests/{harvest_id}:
    get:
      tags:
        - Harvests
      summary: GetHarvest
      description: Get Harvest by ID
      operationId: GetHarvestById
      parameters:
        - name: harvest_id
          in: path
          description: Harvest ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Harvest"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /transfers:
    get:
      tags:
        - Transfers
      summary: GetTransfers
      description: Return active Transfers

      operationId: GetTransfers
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Transfer"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /transfers/{transfer_id}:
    get:
      tags:
        - Transfers
      summary: GetTransfer
      description: Get Transfer by ID
      operationId: GetTransferById
      parameters:
        - name: transfer_id
          in: path
          description: Transfer ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transfer"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /transfer_destinations:
    get:
      tags:
        - Transfer Destinations
      summary: GetTransferDestinations
      description: Return Transfer Destinations

      operationId: GetTransferDestinations
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TransferDestination"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /transfer_destinations/{transfer_destination_id}:
    get:
      tags:
        - Transfer Destinations
      summary: GetTransferDestination
      description: Get Transfer Destination by ID
      operationId: GetTransferDestinationById
      parameters:
        - name: transfer_destination_id
          in: path
          description: Transfer Destination ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferDestination"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /bills_of_materials:
    get:
      tags:
        - Bill of Materials
      summary: GetBillsOfMaterials
      description: Get all Bills of Materials
      operationId: GetBillOfMaterialsById
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BillOfMaterials"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /bills_of_materials/{bill_of_materials_id}:
    get:
      tags:
        - Bill of Materials
      summary: GetBillOfMaterials
      description: Get Bill of Materials by ID
      operationId: GetBillOfMaterialsById
      parameters:
        - name: bill_of_materials_id
          in: path
          description: ID of Bill of Materials to return
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillOfMaterials"
              example:
                id: 12
                name: Bulk - Dark Chocolate Peaks - 5mg
                active_date: "2023-01-01"
                expiration_date: "2023-12-31"
                proportion_type: single_instance
                source_non_cannabis_products:
                  - name: 1/8th Jar
                    non_cannabis_product_id: 24
                    quantity: 1
                    weight_unit: Each
                    application_setting: proportional
                  - name: Gloves - Large
                    non_cannabis_product_id: 56
                    quantity: 2
                    weight_unit: Each
                    application_setting: fixed
                source_cannabis_items:
                  - name: Hammer Bud
                    item_id: 242
                    item_category_id: null
                    item_sub_category_id: null
                    quantity: 20
                    weight_unit: Grams
                  - name: B Buds
                    item_id: null
                    item_category_id: 98
                    item_sub_category_id: null
                    quantity: 25
                    weight_unit: Grams
                output_items:
                  - name: Jarred Flower
                    item_id: 370
                    quantity: 50
                    weight_unit: Grams
                    item_category: null
                    item_sub_category: null
                  - name: null
                    item_id: 371
                    quantity: 25
                    weight_unit: Grams
                    item_category:
                      id: 98
                      name: B Buds
                    item_sub_category: null
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /manu_batches:
    get:
      tags:
        - Manufacturing Batch
      summary: GetManuBatches
      description: Get All Manufacturing Batches
      operationId: GetManuBatches
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ManuBatch"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /manu_batches/{manu_batch_id}:
    get:
      tags:
        - Manufacturing Batch
      summary: GetManuBatch
      description: Get Manufacturing Batch by ID
      operationId: GetManuBatchById
      parameters:
        - name: manu_batch_id
          in: path
          description: ID of Manufacturing Batch to return
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManuBatch"
              example:
                id: 2
                status: Run 3 of 3
                current_location: processing room
                start_date: "2022-05-01"
                end_date: "2022-05-30"
                created_at: "2022-04-15T12:33:00.000Z"
                updated_at: "2022-05-22T07:21:00.000Z"
                notes: notes about this batch
                manufacturing_run_ids: [8, 9, 10]
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /manu_batch_runs:
    get:
      tags:
        - Manufacturing Run
      summary: GetManuBatchRuns
      description: Get All Manufacturing Runs
      operationId: GetManuBatchRuns
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ManuBatchRun"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /manu_batch_runs/{manu_batch_run_id}:
    get:
      tags:
        - Manufacturing Run
      summary: GetManuBatchRun
      description: Get Manufacturing Run by ID
      operationId: GetManuBatchRunById
      parameters:
        - name: manu_batch_run_id
          in: path
          description: ID of Manufacturing Run to return
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManuBatchRun"
              example:
                id: 10
                facility_id: 14
                name: Stage 2
                status: OPEN
                start_date: "2022-05-24"
                end_date: "2022-05-30"
                created_at: "2022-05-22T19:58:00.000Z"
                updated_at: "2021-05-23T05:12:01.000Z"
                location_id: 2
                bill_of_materials_id: 12
                manufacturing_batch_id: 9
                order: 2
                notes: ""
                total_cannabis_costs: 14.30
                total_nci_costs: 2.50
                total_labor_costs: 9.05
                yield: 75.0
                machine_info:
                  temperature: 20.1
                  temperature_unit: Celcius
                  solvent_id: 150
                  solvent_quantity: 10.5
                  solvent_weight_unit: Grams
                  time_in_solvent_ms: 2400
                  time_in_solvent_display_units: Second
                cannabis_inputs:
                  - package_id: 3501
                    package_tag: 1A4FF0000000022000000719
                    quantity: 2.54
                    weight_unit: Grams
                    psi: 600.0
                    cost: 14.30
                non_cannabis_inputs:
                  - non_cannabis_product_name: Fertilizer
                    non_cannabis_product_id: 145
                    lot: DL21309
                    lot_id: 253
                    quantity: 100.5
                    weight_unit: Grams
                    cost: 2.50
                cannabis_outputs:
                  - package_id: 5200
                    package_tag: 1A4FF0000000022000001419
                    quantity: 500
                    weight_unit: Grams
                labors:
                  - employee_name: Jane Doe
                    hours_worked: 0.5
                    cost: 10
                  - employee_name: John Doe
                    hours_worked: 1
                    cost: 20
                wastes:
                  - package_id: 4601
                    package_tag: 1A4FF0000000022000004423
                    quantity: 50
                    weight_unit: Grams
                    reason: Waste Destruction
                    date: "2022-05-24"
                    notes: waste from production
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /companies/{company_id}:
    get:
      tags:
        - Company
      summary: GetCompany
      description: Get Company by ID
      operationId: GetCompanyById
      parameters:
        - name: company_id
          in: path
          description: Company ID
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /weight_units:
    get:
      tags:
        - WeightUnits
      summary: GetWeightUnits
      description: Return all Weight Units
      operationId: GetWeightUnits
      parameters:
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/orderByParam"
        - $ref: "#/components/parameters/whereParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WeightUnit"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /standard_costs/{standard_cost_id}:
    get:
      tags:
        - Standard Costs
      summary: GetStandardCost
      description: Get details of a specific Standard Cost
      operationId: GetStandardCost
      parameters:
        - name: standard_cost_id
          in: path
          description: ID of Standard Cost to retrieve
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemStandardCost"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"
    put:
      tags:
        - Standard Costs
      summary: UpdateStandardCost
      description: __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__
      operationId: UpdateStandardCost
      parameters:
        - name: standard_cost_id
          in: path
          description: ID of Standard Cost to update
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        description: Update an existing Standard Cost
        content:
          application/json:
            schema:
              type: object
              required:
                - cost
                - start_date
              properties:
                cost:
                  type: number
                  format: float
                  example: 10.50
                  description: The standard cost amount
                start_date:
                  type: string
                  format: date
                  example: "2024-02-03"
                  description: Start date for the standard cost
                end_date:
                  type: string
                  format: date
                  example: "2024-03-03"
                  description: Optional end date for the standard cost
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemStandardCost"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"
    delete:
      tags:
        - Standard Costs
      summary: DeleteStandardCost
      description: |
        __CALLING THIS ENDPOINT WILL MODIFY YOUR DATA IRREVERSIBLY. ONLY CALL THIS ON SANDBOX DATA DURING DEVELOPMENT/CODING/TESTING.__

        Delete a specific Standard Cost
      operationId: DeleteStandardCost
      parameters:
        - name: standard_cost_id
          in: path
          description: ID of Standard Cost to delete
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Standard Cost successfully deleted
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "500":
          $ref: "#/components/responses/500ServerError"

  /submissions/{submission_id}:
    get:
      tags:
        - Submissions
      summary: GetSubmission
      description: |
        Get Submission by ID. A submission represents an asynchronous action (such as creating a package,
        adjusting inventory, submitting a transfer, etc.) that may be pending, successful, failed, or
        require approval. Use this endpoint to poll the status of a submission after initiating an action.
      operationId: GetSubmissionById
      parameters:
        - name: submission_id
          in: path
          description: Submission UUID
          required: true
          schema:
            type: string
          example: "U3VibWlzc2lvbjo0NTY3ODk="
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Submission"
              examples:
                success:
                  summary: Successful submission
                  value:
                    uuid: "U3VibWlzc2lvbjo0NTY3ODk="
                    status: "SUCCESS"
                    readable_name: "Create Package"
                    description: "Package created from harvest\nTag: 1A40000000000000001"
                    error_message: ""
                    result:
                      package_id: 12345
                      tag: "1A40000000000000001"
                    created_at: "2024-01-15T10:30:00.000Z"
                    last_run_at: "2024-01-15T10:30:05.000Z"
                pending:
                  summary: Pending submission
                  value:
                    uuid: "U3VibWlzc2lvbjo0NTY3OTA="
                    status: "PENDING"
                    readable_name: "Adjust Package"
                    description: "Adjusting package weight"
                    error_message: ""
                    result: null
                    created_at: "2024-01-15T10:30:00.000Z"
                    last_run_at: null
                failed:
                  summary: Failed submission
                  value:
                    uuid: "U3VibWlzc2lvbjo0NTY3OTE="
                    status: "FAILED"
                    readable_name: "Create Transfer"
                    description: "Transfer to ABC Dispensary"
                    error_message: "Invalid destination license number"
                    result: null
                    created_at: "2024-01-15T10:30:00.000Z"
                    last_run_at: "2024-01-15T10:30:10.000Z"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401NotAuthenticated"
        "403":
          $ref: "#/components/responses/403AccessDenied"
        "404":
          $ref: "#/components/responses/404NotFound"
        "422":
          description: Unable to fetch submission data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unable to fetch submission data"
        "500":
          $ref: "#/components/responses/500ServerError"

components:
  schemas:
    AuditedAction:
      title: Audited Action
      type: object
      properties:
        facility_id:
          type: integer
        object_id:
          type: integer
        object_type:
          type: string
        object_tag:
          type: string
        context:
          type: array
          items:
            type: string
        description:
          type: string
        submitted_date:
          type: string
          example: 2018-11-06T08:00:00.000Z
        approval_date:
          type: string
          example: 2018-11-06T08:00:00.000Z
        created_at:
          type: string
          example: 2018-11-06T08:00:00.000Z
        updated_at:
          type: string
          example: 2018-11-06T08:00:00.000Z

    SalesOrder:
      title: Sales Order
      required:
        - id
        - facility_id
        - name
        - status
        - delivery_date
        - other_tax_rate
        - local_tax_rate
        - state_tax_rate
      type: object
      properties:
        id:
          type: integer
        facility_id:
          type: integer
          description: Facility ID (fk)
        name:
          type: string
        external_identifier:
          type: string
          description: External Sales Order ID (from partner system, not unique)
        status:
          type: string
          description: >-
            status, can be one of 'created', 'approved', 'filled', 'shipped', 'rejected', 'accepted', 'archived',
            'requested'
        created_at:
          type: string
          description: Timestamp that the record was created in Canix
        customer:
          $ref: "#/components/schemas/Customer"
        delivery_date:
          type: string
        delivery_fee:
          type: number
        payment_date:
          type: string
          description: Payment due date
        payment_terms:
          type: string
        local_tax_rate:
          type: number
        state_tax_rate:
          type: number
        other_tax_rate:
          type: number
        subtotal:
          type: number
          description: Subtotal of all items
        total_cultivation_tax:
          type: number
        total_price:
          type: number
          description: Total price (with taxes)
        total_paid:
          type: number
        credits:
          type: number
          description: >-
            Customer credit applied to this order, as a positive number. Credits are applied
            after taxes, so they do not reduce the taxable subtotal. Writable on create/update
            via the `credits` request field.
        discount:
          type: number
          description: >-
            Order-level discount amount (from `sales_order_credit`), as a positive number.
            Discounts are applied before taxes and reduce the taxable subtotal.
        remaining_balance:
          type: number
        internal_notes:
          type: string
        payments:
          description: Payments collected for this order
          type: array
          items:
            $ref: "#/components/schemas/SalesOrderPayment"
        sales_order_credit:
          $ref: "#/components/schemas/Discount"
        display_status:
          type: string
          description: The display status of the order. This is the custom status name if set, otherwise the standard status value.
        contents:
          description: Contents of the order (i.e. line items)
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/SalesOrderItem"
              - type: object
                properties:
                  weight_unit_id:
                    type: integer
                  weight_unit_name:
                    type: string
        sales_representative:
          schema:
          $ref: "#/components/schemas/User"
        invoice_url:
          type: string
          description: URL to the latest invoice if it exists
          example: https://www.app.canix.com/sales/invoice/view/123456
        updated_at:
          type: string
          example: 2018-11-06T08:00:00.000Z
      example:
        id: 84
        name: 0000002062
        external_identifier: "SAP-ORDER-12345"
        facility_id: 14
        status: created
        customer:
          id: 345
          contact_name: John Smith
          company_name: Zen Ltd
          facility_license_number: 2020124
          license_type: 3
          customer_number: 247123
          updated_at: 2020-04-24T02:18:42.703Z
          license_expiration_date: 2020-04-24
          phone: 1222312
          email: john.doe@twww.com",
          territory: abc
          address:
            street: 123 Cumberland St
            street2: West
            city: DL
            county: LN
            state: OK
            postal_code: 111001
          notes: great customer!
          outstanding_balance: 0
        delivery_date: "2021-05-24T19:58:00.000Z"
        delivery_fee: 2000
        payment_date: "2021-05-24T19:58:00.000Z"
        payment_terms: NET-14
        local_tax_rate: 0
        state_tax_rate: 0.27
        other_tax_rate: 0
        subtotal: 2124.22
        total_cultivation_tax: 0
        total_price: 2697.76
        total_paid: 100.00
        credits: 0
        discount: 0
        internal_notes: ""
        remaining_balance: 2597.76
        contents:
          - id: 100
            weight: 20
            weight_unit: Each
            unit_price: 20
            total_price: 400
            item:
              id: 7036
              name: Blue Dream - Trim
              sku: "22657"
            package_ids:
              - 123
              - 456
            discount:
              type: "fixed"
              amount: 10.0
              reason: "10$ off"
            updated_at: "2021-05-24T19:58:00.000Z"
            order: 1
        payments:
          - date: "2021-05-24T19:58:00.000Z"
            amount: 100
        sales_representative:
          id: 123,
          name: "John Doe"
          email: "j@d.com"
        sales_order_credit:
          type: "percentage"
          amount: 25.0
          reason: "25% off"
        display_status: "Pending Review"
        invoice_url: https://www.app.canix.com/sales/invoice/view/123456
        updated_at: "2021-05-24T19:58:00.000Z"

    SalesOrderItem:
      title: Sales Order Item
      required:
        - id
        - sales_order_id
      type: object
      properties:
        id:
          type: integer
        weight:
          type: number
        weight_unit:
          oneOf:
            - type: string
              description: Unit name or abbreviation
            - type: integer
              description: Unit id
        unit_price:
          type: number
        total_price:
          type: number
          description: Total price (unit * weight)
        item:
          $ref: "#/components/schemas/Sales_order_item"
        brand:
          allOf:
            - $ref: "#/components/schemas/IdName"
          nullable: true
          description: Brand of the sold item, product, or non-cannabis product (null if none)
        product_id:
          type: integer
          nullable: true
          description: ID of the linked cannabis Product, if any
        product_brand:
          allOf:
            - $ref: "#/components/schemas/IdName"
          nullable: true
          description: Brand of the linked cannabis Product, if any
        is_sample:
          type: boolean
          description: Whether the line item is a trade sample
        package_ids:
          type: array
          items:
            type: integer
        updated_at:
          type: string
          example: 2018-11-06T08:00:00.000Z
        order:
          type: integer
          description: Position of the item in the order
        discount:
          $ref: "#/components/schemas/Discount"
      example:
        id: 100
        weight: 20
        weight_unit: Each
        unit_price: 20
        total_price: 400
        item:
          id: 7036
          name: Blue Dream - Trim
          sku: "22657"
        brand:
          id: 12
          name: Sunshine Co
        product_id: 4500
        product_brand:
          id: 12
          name: Sunshine Co
        is_sample: false
        package_ids:
          - 123
          - 456
        discount:
          type: "percentage"
          amount: 25.0
          reason: "25% off"
        updated_at: "2021-05-24T19:58:00.000Z"
        order: 1

    Discount:
      title: Discount
      type: object
      properties:
        type:
          type: string
          enum: ["fixed", "percentage"]
        amount:
          type: number
        reason:
          type: string
      example:
        type: "fixed"
        amount: 10.0
        reason: "Black Friday Sale"

    SalesOrderPayment:
      title: Sales Order Payment
      required:
        - amount
        - date
      type: object
      properties:
        id:
          type: integer
        sales_order_id:
          type: integer
          description: ID of the sales order this payment was applied to
        amount:
          type: number
        date:
          type: integer
        reference_number:
          type: string
          nullable: true
          description: Payment reference number
        external_transaction_name:
          type: string
          nullable: true
          description: Readable name of the linked external (e.g. accounting) transaction
        updated_at:
          type: string
          example: 2018-11-06T08:00:00.000Z
      example:
        id: 9001
        sales_order_id: 584857
        amount: 10000
        date: "2021-05-24T19:58:00.000Z"
        reference_number: "CHK-1042"
        external_transaction_name: "QBO Payment #55"
        updated_at: "2021-05-24T19:58:00.000Z"

    Submission:
      title: Submission
      description: |
        A submission represents an asynchronous action (such as creating a package, adjusting inventory,
        submitting a transfer, etc.) that may be pending, successful, failed, or require approval.
      type: object
      required:
        - uuid
        - status
        - created_at
      properties:
        uuid:
          type: string
          description: The unique identifier for the submission
          example: "U3VibWlzc2lvbjo0NTY3ODk="
        status:
          $ref: "#/components/schemas/SubmissionStatus"
        readable_name:
          type: string
          nullable: true
          description: Human-readable name describing the submission action
          example: "Create Package"
        description:
          type: string
          description: Detailed description of the submission, may include multiple lines
          example: "Package created from harvest\nTag: 1A40000000000000001"
        error_message:
          type: string
          description: Error message if the submission failed, empty string otherwise
          example: ""
        result:
          type: object
          nullable: true
          description: Result data from a successful submission (e.g., created record IDs)
          additionalProperties: true
          example:
            package_id: 12345
            tag: "1A40000000000000001"
        created_at:
          type: string
          format: date-time
          description: When the submission was created
          example: "2024-01-15T10:30:00.000Z"
        last_run_at:
          type: string
          format: date-time
          nullable: true
          description: When the submission was last executed (null if not yet run)
          example: "2024-01-15T10:30:05.000Z"
      example:
        uuid: "U3VibWlzc2lvbjo0NTY3ODk="
        status: "SUCCESS"
        readable_name: "Create Package"
        description: "Package created from harvest\nTag: 1A40000000000000001"
        error_message: ""
        result:
          package_id: 12345
          tag: "1A40000000000000001"
        created_at: "2024-01-15T10:30:00.000Z"
        last_run_at: "2024-01-15T10:30:05.000Z"

    SubmissionStatus:
      title: Submission Status
      type: string
      description: |
        The current status of the submission:
        - **CREATED**: Transaction queued for processing
        - **PENDING_APPROVAL**: Transaction awaiting admin approval
        - **PENDING**: Transaction pending response from compliance system
        - **RETRYING**: Transaction failed but will be automatically retried
        - **FAILED**: Transaction failed permanently
        - **SUCCESS**: Transaction completed successfully
        - **DENIED**: Transaction was reviewed by an admin and denied
        - **ABORTED**: Transaction has been aborted
        - **PARTIAL_FAILURE**: Some steps succeeded but others failed
      enum:
        - CREATED
        - PENDING_APPROVAL
        - PENDING
        - RETRYING
        - FAILED
        - SUCCESS
        - DENIED
        - ABORTED
        - PARTIAL_FAILURE
      example: "SUCCESS"

    CreatePurchaseOrderRequestBody:
      title: Purchase Order Request Body
      required:
        - facility_id
        - vendor_id
        - status
        - requested_delivery_date
        - payment_terms
      type: object
      properties:
        facility_id:
          type: integer
          example: 1
          description: Facility ID (fk)
        name:
          type: string
          example: PO 00001
          description: Optional name for the purchase order
        status:
          type: string
          enum: ["CREATED", "RELEASED", "REQUESTED", "PARTIALLY_RECEIVED", "RECEIVED", "PAID", "ARCHIVED"]
          description: Status of the purchase order
        vendor_id:
          type: integer
          example: 123
          description: Vendor ID (fk)
        requested_delivery_date:
          type: string
[...]
